fastapi
uvicorn[standard]
PyYAML
pydantic
pydantic[email]
psycopg[binary]
psycopg2
SQLAlchemy
pytest
pytest-cov
pytest-notimplemented
coverage
black
mypy
lint
passlib
python-jose[cryptography]

#chroma
chromadb==0.4.15
pysqlite3-binary==0.5.2.post1

#langchain
langchain
langchain_community
langchain_chroma
pypdf

#huggingface
sentence_transformers

#umap
umap-learn